<div class="new user">

<%= form_for User.new do |f| %>

 	     <%= f.text_field :twitter, placeholder: "Twitter Username:" %>
         <%= f.password_field :password, placeholder: "Password" %>
    
    <%= f.submit 'Sign In', :class => 'button radius success' %>

<% end %>
</div>