<br />
<div class="new user">
<div class="row center-text">

<div class="sign_in">
<h1 id="fer">Fer!</h1>
<br />

<p>	Chuck ipsum. Chuck Nor­ris eats trans­former toys in vehi­cle mode and poos them out trans­formed into a robot. If you want a list of Chuck Nor­ris’ ene­mies, just check the extinct species list.  Chuck Nor­ris’ evil twin brother, Richard Sim­mons, once approached Chuck with the hope of rec­on­cil­i­a­tion, but at the sight of Richard’s curly, well kept hair, Chuck Nor­ris became so enraged that he turned green with hate and ripped Richard Sim­mons arms and legs off. This action was the ori­gin of the Mar­vel Comic badass, The Incred­i­ble Hulk.</p>
<hr />
<!-- <h4>Sign on in!</h4> -->
<%= render partial: 'form' %>
</div>
</div>
</div>